* { 
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.product-cards-container,
.cart-cards-container{
  margin: 0;
  margin-top: 7%;
  padding: 20px 20px;
  width: 100%;
  flex-wrap: wrap;
  grid-row-gap: 70px;
  grid-column-gap: 20px;
  justify-content: space-around;
  align-content: flex-start;
  background-color: lightgray;
  height: 3000px;
}

.product-cards-container{
  display: flex;
}
.cart-cards-container{
  display: none;
}