* { 
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body{
  background: linear-gradient(110deg, rgba(18,28,116,1) 0%, rgba(0,0,0,1) 51%, rgba(18,28,116,1) 100%);
}

button {
  cursor: pointer;
}

.product-cards-container,
.cart-cards-container,
.liked-cards-container{
  margin: 0;
  margin-top: 7%;
  padding: 20px 20px;
  width: 100%;
  flex-wrap: wrap;
  grid-row-gap: 70px;
  grid-column-gap: 20px;
  justify-content: space-around;
  align-content: flex-start;
  min-height: 100vh;
}

.product-cards-container{
  display: flex;
}
.cart-cards-container{
  display: none;
}

.liked-cards-container{
  display: none;
}