
.product-cards-container{
  margin: 0;
  margin-top: 7%;
  padding: 20px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 70px;
  grid-column-gap: 20px;
  justify-content: space-around;
  align-content: flex-start;
  background-color: lightgray;
  height: 3000px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 430px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.like-icon,
.category-icon {
  width: 20px;
  height: 20px;
  margin: 5px;
  object-fit: cover;
  border-radius: 50%;
  align-self: flex-end;
}

.like-icon {
  margin-right: 35px;
  margin-top: 25px;
  width: 30px;
  height: 30px;
  background-color: #507fff;
  cursor: pointer;
  z-index: 999;
}

 .card .imgBx {
  position: absolute;
  z-index: 500;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.card:hover .imgBx {
  transform: translateY(-25%);
}

 .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

 .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.card:hover .contentBx {
  height: 210px;
}

 .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

 .card .contentBx .product-description,
 .card .contentBx .category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .contentBx .product-description {
  opacity: 1;
  visibility: visible;
  transition-delay: .5s;
}

.card:hover .contentBx .category-container {
  opacity: 1;
  visibility: visible;
  transition-delay: .6s;
}

 .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #507fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s;
}

.card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .9s;
} 